<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.ejf.intentexamples" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".ActivityOne" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityTwo" >
        </activity>

        <service android:name=".MainService" >
        </service>
        <service android:name=".say.TtsService" >
        </service>

        <activity android:name=".say.TtsDummyActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <receiver android:name=".MainReceiver" >
            <intent-filter>
                <action android:name="io.ejf.intentexamples" >
                </action>
            </intent-filter>
        </receiver>
        <receiver android:name=".say.TtsReceiver" >
            <intent-filter>
                <action android:name="io.ejf.intentexamples.say" >
                </action>
            </intent-filter>
        </receiver>

        <activity android:name=".aviary.AviaryLaunch" >
        </activity>
    </application>

</manifest>
